---
#Checks: '*,
#        -fuchsia-*,
#        -google-*,
#        -zircon-*,
#        -abseil-*,
#        -llvm-*,
#        -llvmlibc-*,
#        -hicpp-*,
#        -altera-*,
#        -misc-*,
#        -modernize-use-trailing-return-type,
#        -readability-braces-around-statements,
#        -readability-function-cognitive-complexity
#        ' #readability-function-cognitive-complexity disabled due to doctest
Checks: '
        clang-analyzer-*,
        cppcoreguidelines-*,
        -cppcoreguidelines-avoid-magic-numbers,
        cert-*,
        bugprone-*,
        -bugprone-easily-swappable-parameters,
        -bugprone-empty-catch,
        hicpp-*,
        -hicpp-braces-around-statements,
        -hicpp-exception-baseclass,
        performance-*,
        openmp-*
        '
CheckOptions:
    performance-move-const-arg.CheckTriviallyCopyableMove: False
    hicpp-move-const-arg.CheckTriviallyCopyableMove: False
WarningsAsErrors: '*'
HeaderFilterRegex: ''
FormatStyle: none